*.pyc
*.pyo
*.pyd
.Python
.env
.env-docker
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis
**/.mypy_cache
**/.pytest_cache
**/__pycache__

.git
.gitignore
.github
Dockerfile
docker-compose-local.yaml
.dockerignore
.venv
LICENSE
README.md
**/README*